
* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 900px;
    margin: auto;
    background-color: #eee;
}

.list {
    list-style: none;
}

.list-item {
    display: inline-block;
    width: 150px;
}

.list-link {
    display: block;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
}
